body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 24px;
  text-decoration: none;
  text-wrap: nowrap;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-inline-start: 16px;
}

.content {
  display: flex;
  flex: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-basis: 300px;
  flex-shrink: 0;
  padding: 16px;
}

.cards {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 4px;
  padding: 1rem;
  flex-basis: 300px;
}