body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  margin-block-end: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 16px;
  margin-block-start: 16px;
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 16px;
}